body {
  background: linear-gradient(to right, #4daf54, #3d8880);
}

.readQRApp {
  margin: 200px auto;
  width: 390px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background: #E3F2FD;
}


img {
  height: 270px;
  width: 270px;
}

.icon {
  font-size: 70px;
  color: green;
}

.copy {
  padding: 4px 6px;
  margin: auto 5px;
}

.close {
  padding: 4px 6px;
}

input {
  border: 1px solid;
  padding: 2px;
  cursor: pointer;
  height: 270px;
  width: 270px;
}

form {
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  background: rgb(186, 152, 152);
}